<%- include('partials/header') %>
    <h1>Welcome back, <%= user.firstName %>!</h1>
    <p>Your saved trips will appear here.</p>
    <a href="/trips/new" class="btn">Plan a New Trip</a>
    <%- include('partials/footer') %>