<%- include('../partials/header') %>
    <h1>500 - Something went wrong</h1>
    <% if (error) { %>
        <p>
            <%= error %>
        </p>
        <% } %>
            <a href="/">Go Home</a>
            <%- include('../partials/footer') %>